<!DOCTYPE HTML>

<html lang="en" ng-app="mapp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META content="IE=Edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- State Of Michigan - Fri May 15 14:48:29 2020 -->
<!-- e-Michigan Portal - Process #1, Server www -->

<link rel="canonical" href="https://www.michigan.gov/coronavirus/0,9753,7-406-98163_98173---,00.html" />
		<title>Coronavirus - Michigan Data</title>
		<meta name='DESCRIPTION' content="Description: Coronavirus - Michigan Data">
		<meta name='KEYWORDS' content="No Keywords">
		
	
<base target="_top">

	<!-- global scripts BOOTSTRAP -->
	<!-- bow-scripts include -->


<!-- CSS -->
<link type="text/css" rel='stylesheet' type='text/css' href='/css/fullcalendar.css' />
<link type="text/css" rel="stylesheet" href="/font-som-icons/css/somicons.min.css?20170525100940" />
<link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="/css/jquery.bxslider.css" />

<!-- javascript -->
<!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script -->
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/fullcalendar.js" type="text/javascript"></script>
<script src="/js/jquery.bxslider.js"></script>
<script src="/js/jquery.rwdImageMaps.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/additional-methods.js"></script>
<script src="/js/responsiveComponents.js"></script>
<script src="/js/jquery.matchHeight-min.js"></script>
<!-- [if (lt IE 9)]>
<script>
document.createElement('header');
document.createElement('nav');
document.createElement('section');
document.createElement('article');
document.createElement('aside');
document.createElement('footer');
document.createElement('time');
</script>
<script src="/js/respond.js"></script>
<link href="/css/migov_ie8_OLD.css" rel="stylesheet" media="all" />
<![endif] -->
	 <script type="text/javascript" src="/js/bow-general.js?v=1565985739"></script>

	<link href='/css/body-theme-coronavirus.css?v=1586455229' type='text/css' rel='stylesheet' />
	<!-- Agency Header do not include the globalcss file -->
<script src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js"></script>
<script src="/coronavirus/chatbot.js"></script>
<link type="text/css" rel="stylesheet" href="/coronavirus/Chatbot.css" />
<!--/ Agency Header--><script src="/js/underscorejslib.js?v=1493914450"></script>
<script src="/js/angular_1_6.js?v=1493914427"></script>
<script src="/js/angular_1_6_sanitize.js?v=1493914426"></script>
<script src="/js/angular_1_6_animate.js?v=1493914426"></script>
<script src="/js/angular_1_6_aria.js?v=1493914426"></script>
<script src="/js/angular_1_6_touch.js?v=1493914427"></script>

<script src="/js/angucomplete-alt.js?v=1545075608"></script>
<script src="/js/bootstrapUIangular.js?v=1493914448"></script>

<script type="text/javascript">
window.navPath = '/agency/leftFullNav/0,,406,00.html';
window.loadedData = [];
$('body').addClass('matching-heights-processing');
var mapp = angular.module('mapp',['ngSanitize','ngAnimate','ui.bootstrap','ngAria','angucomplete-alt','ngTouch']);
</script>
<script src='/js/angular_custom_factories.js?v=1502904335'></script>
<script src='/js/angular_custom_filters.js?v=1506702035'></script>
<script src='/js/SearchComponentAngular.js?v=1545075601'></script>
<script src='/js/angularSelectList.js?v=1564771391'></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script src="/js/gtm.js?v=1501512057"></script>
</head>
<body class="agy-coronavirus has-offcanvas-menu off-canvas-center  bow-theme-1 horz-menu full-horz-menu1 body-theme-coronavirus matching-heights-processing">
<div role='navigation' aria-label='skip nav'>
<noscript>
<div class="alert bg bg-accent-1 text-center">
<span class="fa fa-3x fa-exclamation-triangle" aria-hidden="true"></span> Browsers that can not handle javascript will not be able to access some features of this site. <span class="fa fa-3x fa-exclamation-triangle" aria-hidden="true"></span>
</div>
<style type="text/css">
body.matching-heights-processing:before,body.matching-heights-processing:after {
content:'';
height:0px;
width:0px;
}
</style>
<iframe src="//www.googletagmanager.com/ns.html?id=GTM-WTW7M9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<div id="noAdBlock" style="display:none;" class="alert bg bg-accent-1 text-center">
<span class="fa fa-3x fa-exclamation-triangle" aria-hidden="true"></span> Some functions of this site are disabled for browsers blocking jQuery. <span class="fa fa-3x fa-exclamation-triangle" aria-hidden="true"></span>
</div>
<div id='_TopOfPage'></div>
<script>
			function doAnalyticsGo(sndx) {
				var dest = sndx.options[sndx.selectedIndex].value;
				if (dest == 0) {
					alert('Please make a selection.');
					return false;
				} else {
					document.location.href=dest;
					return false;
				}
			}
		</script><a href='#main' data-target-id='main' class='sr-only sr-only-focusable jump-to-id'>Skip to main content</a>
</div>


<!--START DIV CONTAINER-->
<div id='main-mobile-canvas-container' class=''>
	<div id='temp-toggler-mobile-menu' class='text-center toggle-mobile-menu-controls'>
		<a href='#mobile-canvas-menu-container' data-toggle-class='show-mobile-nav' class='toggle-mobile-menu outer-link text-center toggle-mobile-menu-controls'>
			<span class='fa fa-3x fa-bars mobile-menu-closed-icon toggle-mobile-menu-controls'></span><span class='fa fa-3x fa-times mobile-menu-showing-icon toggle-mobile-menu-controls'></span>MENU
		</a>
	</div>
	<div class='offcanvas-left toggle-mobile-menu-controls' id='mobile-canvas-menu-container'>
		<div class="mobile-canvas-nav-header" >
			<div class="mobile-canvas-menu-logo-block">
				<div id='mobileLogoBlock'>
					<a href='/coronavirus'>
						<img class="img-responsive" src="/images/som/final_logo_migov_white_526452_7.png" alt="Description: Coronavirus " />
					</a>
				</div>
				<div id='mobileSiteTitle'>
					<a href='/coronavirus'>
						<div class='page-site-header'><div class='bannerSmTxt'></div><div class='bannerLgTxt'>Coronavirus</div></div> </a>
				</div>
			</div>
			<div class="inner-mobile-menu-toggle">
				<a href='#mobile-canvas-menu-container' data-toggle-class='show-mobile-nav' class='toggle-mobile-menu outer-link btn btn-accent-black'><span class='fa fa-2x fa-bars mobile-menu-closed-icon'></span><span class='fa fa-2x fa-times mobile-menu-showing-icon'></span></a>
			</div>
		</div>
		<div class='site-extra-text bg bg-primary-1'>Description: Coronavirus </div>
		<div class='mobile-search-block bg bg-primary-1 padding-bottom-10'>
			<div class="searchComponentDiv" id="searchComponentDiv_9910101010101" ng-controller="searchComponentController" ng-init="init(9910101010101)">
				<div ng-if="loadedData">
					<form ng-submit="submitFormLocal()" class="submit-override">
						<div class="clearfix">
							<div class="" angucomplete-alt id="searchInput_9910101010101"
							  placeholder=""
							  pause="10" 
							  selected-object="optionChanged" 
							  local-data="people"
							  local-search="localSearch"
							  title-field="name"
							  description-field="twitter"
							  minlength="1" 
							  input-class="form-control form-control" 
							  input-changed="inputChanged" 
							  match-class="highlight">
							</div>
						</div>
					</form>
				</div>
			</div>
			<script>		
				window.loadedData[9910101010101] = [];
				window.loadedData[9910101010101]["GSA_COLLECTION"] = "coronavirus";
				
				window.loadedData[9910101010101]["gsaAgencyText"] = "Description:~Coronavirus";
				window.loadedData[9910101010101]["subcategories"] = [];			
			</script>
		</div>
		<div id="containerMainMobileLinks"></div>
		<div class="branding-bar-links-block">
			<nav class="mobile-branding-links" aria-label="mobile global menu">
				<ul id='m_bannerLinks'><li><a href='/coronavirus/0,9753,7-406-98810---,00.html' title='FAQ'>FAQ</a></li><li><a href='/coronavirus/0,9753,7-406-98178_98541---,00.html' title='Alternate Languages'>Alternate Languages</a></li><li><a href='/coronavirus' title='Home'>Home</a></li><li><a href='/mdhhs' title='MDHHS'>MDHHS</a></li><li class='migovlink'><a href='http://www.michigan.gov/' title='MI Gov Home'>MI.gov</a></li></ul>  </nav>
		</div>
	</div>
	<script type="text/javascript">
	window.agencySitePathCSS = 'coronavirus';
	//window.agencySitePathCSS = window.location.pathname;
	window.agencyText = 'Description:~Coronavirus';
	//window.agencyText = document.getElementsByTagName("title")[0].innerHTML;
	window.siteClient = window.agencySitePathCSS;
	// Task 44300 - WEX
	//window.default_collection = window.agencySitePathCSS == 'som' ? '' : window.agencySitePathCSS;
	window.default_collection = 'som';
	window.gsasearch = true;
	window.usagovCollection = 'mi-'+window.agencySitePathCSS;

	$('document').ready(function(){
		$('.site-search-form').submit(function(e){
			e.preventDefault();
			siteSearchForm($(this));
		});
		$('#noAdBlock').hide();
	});
	</script>
</div>

<div id='container' class='container-fluid'>
<div id="topMenuSearchContainer" class="search-extended">
	<div class="searchComponentDiv padding-top-20 padding-bottom-20" id="searchComponentDiv_10101010101" ng-controller="searchComponentController" ng-init="init(10101010101)">
		<div ng-if="loadedData">
			<form ng-submit="submitFormLocal()" class="submit-override">
				<div class="container">
					<div class="col-xs-11" angucomplete-alt id="searchInput_10101010101"
					  placeholder=""
					  pause="10" 
					  selected-object="optionChanged" 
					  local-data="people"
					  local-search="localSearch"
					  title-field="name"
					  description-field="twitter"
					  minlength="1" 
					  input-class="form-control form-control" 
					  input-changed="inputChanged" 
					  match-class="highlight">
					</div>
					<div class="col-xs-1 bg bg-accent-black">
						<a href="#" onclick="$('body').removeClass('show-search-form');$('#top-right-search-bar').focus(); return false;" title="Close Search Panel" class="fa-2x">
							<span class="fa fa-remove"></span> 
							<span class="sr-only">Close Search Box</span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script>		
		window.loadedData[10101010101] = [];
		window.loadedData[10101010101]["GSA_COLLECTION"] = "coronavirus";
		window.loadedData[10101010101]["gsaAgencyText"] = "Description:~Coronavirus";
		window.loadedData[10101010101]["subcategories"] = [];
	</script>
</div>
<!-- agencyHeaderNavPath agencyCreateHeaderNavP3 -->

	<!--div id="bannerArea" role='banner'--><!-- HEADER 1.1 Live --><div id='bannerArea' role='banner'><div id='superTop'><!-- agency banner text -->
			<div class='col-sm-3 col-xs-12 sub-agency-mi-global-logo'><a href='/'><img src='/bootstrap/images/migov_brandingbar_2017.png' alt='Michigan.gov Home' class='img-responsive' /></a></div>
			<div class='col-sm-9 col-xs-12'><ul id='bannerLinks'><li><a href='/coronavirus/0,9753,7-406-98810---,00.html' title='FAQ'>FAQ</a></li><li><a href='/coronavirus/0,9753,7-406-98178_98541---,00.html' title='Alternate Languages'>Alternate Languages</a></li><li><a href='/coronavirus' title='Home'>Home</a></li><li><a href='/mdhhs' title='MDHHS'>MDHHS</a></li><li class='migovlink'><a href='http://www.michigan.gov/' title='MI Gov Home'>MI.gov</a></li><li id='top-right-search-bar' style='display:none;'>
			<a href='#topMenuSearchContainer' aria-haspopup='true' title='Search Mi.gov' class='top-header-search-link' data-search-field-id=''>
                <span>Search</span>
            </a>
			</li></ul></div></div><div id='siteBanner'><!-- agency banner text -->
			<div class='col-xs-12 visible-xs-block sub-agency-global-tag'>Official Website of <a href='/' title='return to Michigan.gov'>Michigan.gov</a></div>
			<div id='headerRow'>
			<div class='header-site-title-text'>
				<a class='site-title-link' accesskey='1' href='/coronavirus/' title='Coronavirus - Description: Coronavirus '>
					<div class='page-site-header'><div class='bannerSmTxt'></div><div class='bannerLgTxt'>Coronavirus</div></div>
				</a>
			</div>
			<div class='header-nav-block'><nav class='main-navigation' role='navigation' aria-label='main navigation'><ul id='nav' class='nav-main'>
			<!-- State Of Michigan - Mon May 11 20:26:55 2020 -->
			
	<!-- e-Michigan Portal - Process #2 -->
<!-- Begin Global Nav section --><!-- End Global Nav section -->

		<!-- Begin Responsive Navigation -->
		<li  id='99891' class='id-99891 has-subs'>
		<a class='lvl1' title="Contain" href='/coronavirus/0,9753,7-406-99891---,00.html'>Contain</a>
		<a title="show sub link for Contain" href='#ul_99891' data-target-list='ul_98144' class='toggle-sub-list' style='display:none;'></a>


			<ul id='ul_99891' class='sub-list'>
			<li  id='99912' class='id-99912 '>
			<a class='lvl2' title="Contain, Test" href='/coronavirus/0,9753,7-406-99891_99912---,00.html'>Test</a>

			</li>
			<li  id='99913' class='id-99913 '>
			<a class='lvl2' title="Contain, Trace" href='/coronavirus/0,9753,7-406-99891_99913---,00.html'>Trace</a>

			</li>
			<li  id='99914' class='id-99914 '>
			<a class='lvl2' title="Contain, Protect" href='/coronavirus/0,9753,7-406-99891_99914---,00.html'>Protect</a>

		</li>
		</ul>
		</li>
		<li  id='98178' class='id-98178 has-subs'>
		<a class='lvl1' title="Resources" href='/coronavirus/0,9753,7-406-98178---,00.html'>Resources</a>
		<a title="show sub link for Resources" href='#ul_98178' data-target-list='ul_98144' class='toggle-sub-list' style='display:none;'></a>


			<ul id='ul_98178' class='sub-list'>
			<li  id='98155' class='id-98155 has-subs'>
			<a class='lvl2' title="Resources, For Residents" href='/coronavirus/0,9753,7-406-98178_98155---,00.html'>For Residents</a>
			<a title="show sub link for For Residents" href='#ul_98155' data-target-list='ul_98178' class='toggle-sub-list' style='display:none;'></a>


				<ul id='ul_98155' class='sub-list'>
				<li  id='98841' class='id-98841 '>
				<a class='lvl3' title="Resources, For Residents, Household Health" href='/coronavirus/0,9753,7-406-98178_98155_98841---,00.html'>Household Health</a>

			</li>
			</ul>
			</li>
			<li  id='98156' class='id-98156 '>
			<a class='lvl2' title="Resources, For Health Professionals" href='/coronavirus/0,9753,7-406-98178_98156---,00.html'>For Health Professionals</a>

			</li>
			<li  id='98157' class='id-98157 '>
			<a class='lvl2' title="Resources, For Childcare" href='/coronavirus/0,9753,7-406-98178_98157---,00.html'>For Childcare</a>

			</li>
			<li  id='98541' class='id-98541 '>
			<a class='lvl2' title="Resources, Alternate Languages" href='/coronavirus/0,9753,7-406-98178_98541---,00.html'>Alternate Languages</a>

			</li>
			<li  id='98737' class='id-98737 '>
			<a class='lvl2' title="Resources, Guidance for Business" href='/coronavirus/0,9753,7-406-98178_98737---,00.html'>Guidance for Business</a>

			</li>
			<li  id='98179' class='id-98179 '>
			<a class='lvl2' title="Resources, For Employers & Workers" href='/coronavirus/0,9753,7-406-98178_98179---,00.html'>For Employers & Workers</a>

			</li>
			<li  id='98558' class='id-98558 '>
			<a class='lvl2' title="Resources, For Schools and Colleges" href='/coronavirus/0,9753,7-406-98178_98558---,00.html'>For Schools and Colleges</a>

			</li>
			<li  id='99557' class='id-99557 '>
			<a class='lvl2' title="Resources, Mental Health Resources" href='/coronavirus/0,9753,7-406-98178_99557---,00.html'>Mental Health Resources</a>

			</li>
			<li  id='98281' class='id-98281 '>
			<a class='lvl2' title="Resources, Communications Resources" href='/coronavirus/0,9753,7-406-98178_98281---,00.html'>Communications Resources</a>

			</li>
			<li  id='98455' class='id-98455 '>
			<a class='lvl2' title="Resources, Executive Orders & Directives" href='/coronavirus/0,9753,7-406-98178_98455---,00.html'>Executive Orders & Directives</a>

		</li>
		</ul>
		</li>
		<li  id='98158' class='id-98158 '>
		<a class='lvl1' title="Press Releases" href='/coronavirus/0,9753,7-406-98158---,00.html'>Press Releases</a>

		</li>
		<li  id='99329' class='id-99329 '>
		<a class='lvl1' title="Volunteer" href='/coronavirus/0,9753,7-406-98178_98811---,00.html'>Volunteer</a>

		</li>
		<li  id='99423' class='id-99423 '>
		<a class='lvl1' title="Donate" href='/coronavirus/0,9753,7-406-98178_98811---,00.html#block-3_115140'>Donate</a>

		</li>
		<li  id='98414' class='id-98414 '>
		<a class='lvl1' title="Video Updates" href='/coronavirus/0,9753,7-406-98414---,00.html'>Video Updates</a>

		</li>
		</ul>
		<ul id='desktopMobileButton' style='display:none;'>
		<li><a aria-haspopup='true' href='#mobile-canvas-menu-container' data-toggle-class='show-mobile-nav' class='toggle-mobile-menu outer-link text-center toggle-mobile-menu-controls'>
				<span class='fa fa-bars mobile-menu-closed-icon toggle-mobile-menu-controls'></span><span class='fa fa-times mobile-menu-showing-icon toggle-mobile-menu-controls'></span>
				<!--<div class='clearfix'>MENU</div>-->
			</a></li>
		</ul>
	</nav>
	</div>
	<!-- End Flyout Navigation --><!-- Left Links --><!-- End Left Links --></div></div><div class='siteBannerTxt'>Description: Coronavirus </div>
	<div id="horzMenuSubLinksBlock_container" class="container"><div id="horzMenuSubLinksRow"><div id="horzMenuSubLinksBlockBreadCrumb"></div></div><div id="horzMenuSubLinksBlock"></div></div></div>
			<div id='topNavSearch'>
<!-- SEARCH --><form id='searchform' onsubmit="location.href='https://search.michigan.gov/AppBuilder/search?ctx=CORONAVIRUS&q=' + document.getElementById('query').value;return false;">
			<input accesskey='s' type='TEXT' autocomplete='off' id='query' name='q' placeholder='Search' title='Search'>
			<input id='go' type='submit' value='search' name='button' onClick="location.href='https://search.michigan.gov/AppBuilder/search?ctx=CORONAVIRUS&q=' + document.getElementById('query').value;return false;">
			</form><!-- /SEARCH --></div><!-- LEFTNAV agencyCreateLeftNavRD -->
<!-- bodyWrapper -->
<div id='bodyWrapper'>

	<!-- contentWrapper -->
<div id='contentWrapper'>
	<!-- main --><div id='main' class='DW page' role='main'>
	<div id='breadcrumbContainer'><div id='breadcrumb' role='navigation' aria-label='breadcrumbs'><span style='display: none' id='breadcrumblabel'>You are here</span><ol class='breadcrumb' aria-labelledby='breadcrumblabel'><li><a href='/coronavirus/'>Coronavirus</a></li> <li><a href='/coronavirus/0,9753,7-406-98163_98173---,00.html' title='Michigan Data'>Michigan Data</a></li></ol></div></div>
	
		      <div class='page-header sr-only'><h1>Michigan Data</h1></div>

	<!-- Body Begin -->
		
			  <!-- State Of Michigan - Fri May 15 15:03:51 2020 -->
			<div class='row row-eq-height content-block-section'>
									<div id='inPageSubNav' data-category-sub='98173'></div>
									<div class='page-content-block'><!-- BEGIN MAIN CONTENT AREA ROW --><div class='row row-eq-height'><div class='row-eq-height col-sm-6 '><!-- ID COMPONENT_115180 --><!-- Begin CDA Create Content HTML -->
		<div class='fullContent'><h2 id='TITLETXT_520743' class='TITLETEXT'><span class="sr-only">Michigan Data:</span></h2><!-- BODY -->
			<p><strong>This information is updated daily at 3&nbsp;p.m</strong>., with COVID-19 results included as of 10 a.m.</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:100%;" width="561">
	<caption><strong>Confirmed COVID-19 Cases by Jurisdiction updated 5/15/2020</strong></caption>
	<colgroup>
		<col />
		<col />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th height="22" scope="col" style="height: 22px; width: 197px; text-align: center;">County</th>
			<th scope="col" style="width: 189px; text-align: center;">Confirmed Cases</th>
			<th scope="col" style="width: 175px; text-align: center;">Reported Deaths</th>
		</tr>
	</thead>
	<tbody>
		<tr height="22">
			<td height="22" style="height: 22px; width: 197px; text-align: center;">Alcona</td>
			<td style="width: 189px; text-align: center;">6</td>
			<td style="width: 175px; text-align: center;">1</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Allegan</td>
			<td style="text-align: center;">173</td>
			<td style="text-align: center;">2</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Alpena</td>
			<td style="text-align: center;">90</td>
			<td style="text-align: center;">8</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Antrim</td>
			<td style="text-align: center;">10</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Arenac</td>
			<td style="text-align: center;">29</td>
			<td style="text-align: center;">1</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Baraga</td>
			<td style="text-align: center;">1</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Barry</td>
			<td style="text-align: center;">56</td>
			<td style="text-align: center;">1</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Bay</td>
			<td style="text-align: center;">228</td>
			<td style="text-align: center;">14</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Benzie</td>
			<td style="text-align: center;">4</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Berrien</td>
			<td style="text-align: center;">485</td>
			<td style="text-align: center;">28</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Branch</td>
			<td style="text-align: center;">92</td>
			<td style="text-align: center;">2</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Calhoun</td>
			<td style="text-align: center;">290</td>
			<td style="text-align: center;">18</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Cass</td>
			<td style="text-align: center;">50</td>
			<td style="text-align: center;">2</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Charlevoix</td>
			<td style="text-align: center;">13</td>
			<td style="text-align: center;">1</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Cheboygan</td>
			<td style="text-align: center;">19</td>
			<td style="text-align: center;">1</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Chippewa</td>
			<td style="text-align: center;">2</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Clare</td>
			<td style="text-align: center;">14</td>
			<td style="text-align: center;">2</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Clinton</td>
			<td style="text-align: center;">132</td>
			<td style="text-align: center;">10</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Crawford</td>
			<td style="text-align: center;">57</td>
			<td style="text-align: center;">4</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Delta</td>
			<td style="text-align: center;">14</td>
			<td style="text-align: center;">2</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Detroit City</td>
			<td style="text-align: center;">10230</td>
			<td style="text-align: center;">1240</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Dickinson</td>
			<td style="text-align: center;">5</td>
			<td style="text-align: center;">2</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Eaton</td>
			<td style="text-align: center;">162</td>
			<td style="text-align: center;">6</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Emmet</td>
			<td style="text-align: center;">21</td>
			<td style="text-align: center;">2</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Genesee</td>
			<td style="text-align: center;">1835</td>
			<td style="text-align: center;">229</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Gladwin</td>
			<td style="text-align: center;">17</td>
			<td style="text-align: center;">1</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Gogebic</td>
			<td style="text-align: center;">4</td>
			<td style="text-align: center;">1</td>
		</tr>
		<tr height="22">
			<td height="22" style="height: 22px; text-align: center;">Grand Traverse</td>
			<td style="text-align: center;">23</td>
			<td style="text-align: center;">5</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Gratiot</td>
			<td style="text-align: center;">35</td>
			<td style="text-align: center;">4</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Hillsdale</td>
			<td style="text-align: center;">162</td>
			<td style="text-align: center;">22</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Houghton</td>
			<td style="text-align: center;">2</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="22">
			<td height="22" style="height: 22px; text-align: center;">Huron</td>
			<td style="text-align: center;">38</td>
			<td style="text-align: center;">1</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Ingham</td>
			<td style="text-align: center;">629</td>
			<td style="text-align: center;">20</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Ionia</td>
			<td style="text-align: center;">116</td>
			<td style="text-align: center;">3</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Iosco</td>
			<td style="text-align: center;">57</td>
			<td style="text-align: center;">8</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Isabella</td>
			<td style="text-align: center;">62</td>
			<td style="text-align: center;">7</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Jackson</td>
			<td style="text-align: center;">416</td>
			<td style="text-align: center;">26</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Kalamazoo</td>
			<td style="text-align: center;">679</td>
			<td style="text-align: center;">41</td>
		</tr>
		<tr height="25">
			<td height="25" style="height: 25px; text-align: center;">Kalkaska</td>
			<td style="text-align: center;">17</td>
			<td style="text-align: center;">2</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Kent</td>
			<td style="text-align: center;">2705</td>
			<td style="text-align: center;">53</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Lake</td>
			<td style="text-align: center;">2</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Lapeer</td>
			<td style="text-align: center;">179</td>
			<td style="text-align: center;">30</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Leelanau</td>
			<td style="text-align: center;">10</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Lenawee</td>
			<td style="text-align: center;">132</td>
			<td style="text-align: center;">3</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Livingston</td>
			<td style="text-align: center;">381</td>
			<td style="text-align: center;">25</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Luce</td>
			<td style="text-align: center;">1</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="22">
			<td height="22" style="height: 22px; text-align: center;">Mackinac</td>
			<td style="text-align: center;">6</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Macomb</td>
			<td style="text-align: center;">6274</td>
			<td style="text-align: center;">729</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Manistee</td>
			<td style="text-align: center;">11</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Marquette</td>
			<td style="text-align: center;">51</td>
			<td style="text-align: center;">10</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Mason</td>
			<td style="text-align: center;">25</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Mecosta</td>
			<td style="text-align: center;">18</td>
			<td style="text-align: center;">2</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Menominee</td>
			<td style="text-align: center;">8</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Midland</td>
			<td style="text-align: center;">69</td>
			<td style="text-align: center;">8</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Missaukee</td>
			<td style="text-align: center;">16</td>
			<td style="text-align: center;">1</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Monroe</td>
			<td style="text-align: center;">417</td>
			<td style="text-align: center;">18</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Montcalm</td>
			<td style="text-align: center;">52</td>
			<td style="text-align: center;">1</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Montmorency</td>
			<td style="text-align: center;">5</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Muskegon</td>
			<td style="text-align: center;">452</td>
			<td style="text-align: center;">22</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Newaygo</td>
			<td style="text-align: center;">41</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Oakland</td>
			<td style="text-align: center;">7994</td>
			<td style="text-align: center;">896</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Oceana</td>
			<td style="text-align: center;">46</td>
			<td style="text-align: center;">2</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Ogemaw</td>
			<td style="text-align: center;">16</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Osceola</td>
			<td style="text-align: center;">9</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Oscoda</td>
			<td style="text-align: center;">5</td>
			<td style="text-align: center;">1</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Otsego</td>
			<td style="text-align: center;">99</td>
			<td style="text-align: center;">10</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Ottawa</td>
			<td style="text-align: center;">501</td>
			<td style="text-align: center;">24</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Presque Isle</td>
			<td style="text-align: center;">11</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Roscommon</td>
			<td style="text-align: center;">21</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Saginaw</td>
			<td style="text-align: center;">877</td>
			<td style="text-align: center;">95</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Sanilac</td>
			<td style="text-align: center;">38</td>
			<td style="text-align: center;">5</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Schoolcraft</td>
			<td style="text-align: center;">4</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Shiawassee</td>
			<td style="text-align: center;">222</td>
			<td style="text-align: center;">19</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">St Clair</td>
			<td style="text-align: center;">399</td>
			<td style="text-align: center;">30</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">St Joseph</td>
			<td style="text-align: center;">82</td>
			<td style="text-align: center;">1</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Tuscola</td>
			<td style="text-align: center;">166</td>
			<td style="text-align: center;">17</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Van Buren</td>
			<td style="text-align: center;">106</td>
			<td style="text-align: center;">5</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Washtenaw</td>
			<td style="text-align: center;">1236</td>
			<td style="text-align: center;">87</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Wayne</td>
			<td style="text-align: center;">8652</td>
			<td style="text-align: center;">952</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">Wexford</td>
			<td style="text-align: center;">11</td>
			<td style="text-align: center;">2</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">MDOC*</td>
			<td style="text-align: center;">2227</td>
			<td style="text-align: center;">56</td>
		</tr>
		<tr height="20">
			<td height="20" style="height: 20px; text-align: center;">FCI**</td>
			<td style="text-align: center;">115</td>
			<td style="text-align: center;">3</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Unknown</td>
			<td style="text-align: center;">15</td>
			<td style="text-align: center;">1</td>
		</tr>
		<tr height="21">
			<td height="21" style="height: 21px; text-align: center;">Out of State</td>
			<td style="text-align: center;">97</td>
			<td style="text-align: center;">&nbsp;</td>
		</tr>
		<tr height="22">
			<td height="22" style="height: 22px; text-align: center;">Grand Total</td>
			<td style="text-align: center;">50079</td>
			<td style="text-align: center;">4825</td>
		</tr>
	</tbody>
</table>

<p><em>*Michigan Department of Corrections</em><br />
<em>**Federal Correctional Institute*Michigan Department of Corrections</em></p>

<p><strong>Note on cumulative counts:&nbsp;</strong>This report is provisional and subject to change. &nbsp;As public health investigations of individual cases&nbsp; continue, there will be corrections to the status and details of referred cases that result in changes to this report.<em>City of Detroit and Wayne County are reported separately</em></p>

<p style="text-align: left;"><strong>Note on the deaths:</strong>&nbsp;Deaths must be reported by health care providers, medical examiners/coroners, and recorded by local health departments in order to be counted.</p>

<p style="text-align: left;"><strong>Note on jurisdictional classification:</strong> In order to provide more accurate data, the &ldquo;Other&rdquo; jurisdiction category will no longer be used. Michigan Department of Corrections cases will be listed under &ldquo;MDOC&rdquo;. Federal Correctional Institution cases will be listed under &ldquo;FCI&rdquo;.</p>

<p><strong>Note on Case Fatality Rate: </strong>The case fatality rate is the number of people who have died from causes associated with COVID-19 out of the total number of people with confirmed COVID-19 infections. It is used as one measure of&nbsp;illness severity.&nbsp; Several factors can affect this number. Until recently, COVID-19 lab testing has prioritized for hospitalized individuals due to limited&nbsp;testing availability. As a result, COVID-19 infections&nbsp;were identified more often in people who were more&nbsp;severely ill. This would lead to a&nbsp;higher&nbsp;case fatality rate. As more people with mild illness are tested, it is likely the&nbsp;case fatality rate will go down.</p>

			
		
			</div><!-- /End CDA Create Content--><!-- /ID COMPONENT_115180 --></div><div class='row-eq-height col-sm-6 '><!-- ID COMPONENT_115181 -->
	<!-- BEGIN CDA Generic Content Display --><div id='comp_115181' class='comp list            padding-top-100'  >
		<!-- displayContent RD 001 --><!--PAGEWATCH--><!-- open table RD -->  <ul class='contentList NONE '><li class='contentItem' style=''><span class='inner'><span class='contentBlock '><span class='bodylinks'><span class="sr-only">Links</span></span><span class='shortdesc'><ul>
	<li>
	<h4><strong><a href="/coronavirus/0,9753,7-406-98163_98173_99207---,00.html">Daily Counts</a></strong></h4>
	</li>
	<li>
	<h4><strong><a href="/coronavirus/0,9753,7-406-98163_98173_99225---,00.html">Lab Testing</a></strong></h4>
	</li>
	<li>
	<h4><strong><a href="/coronavirus/0,9753,7-406-98159-523641--,00.html">Data About Places</a></strong></h4>
	</li>
	<li>
	<h4><a href="/coronavirus/0,9753,7-406-98163_98173-526911--,00.html"><strong>Long Term Care Facilities</strong></a></h4>
	</li>
	<li>
	<h4><a href="/coronavirus/0,9753,7-406-98163_98173_99449---,00.html"><strong>Coronavirus Symptoms</strong></a></h4>
	</li>
</ul>
</span></span></span></li><li class='contentItem' style=''><span class='inner'><span class='contentBlock '><span class='bodylinks'></span><span class='shortdesc'><p>&nbsp;</p>

<p><strong>Cumulative Total of Recovered COVID-19 Cases (as of 5/8/2020):<span style="font-size:28px;"><span style="color:#0077A7;">&nbsp;22,686</span></span></strong></p>

<p><strong>Note on recovery: </strong>During this response, MDHHS is reviewing vital records statistics to identify any laboratory confirmed COVID-19 cases who are 30 days out from their onset of illness to represent recovery status. As the pandemic continues to impact Michigan, this pool will expand to include more cases. Recovered is defined as the number of persons with a confirmed COVID-19 diagnosis who are alive 30 days post-onset (or referral date if onset is not available).&nbsp; The number of persons recovered on May 8, 2020 represents COVID-19 confirmed individuals with an onset date on or prior to April 8, 2020. If an individual dies from a COVID-related cause &gt;30 days from onset/referral, they are removed from the number of persons recovered.&nbsp; These numbers will be updated every Saturday.</p>

<p><strong>&nbsp;</strong></p>

<p><strong>Source: </strong>Michigan Disease Surveillance System and Vital Records</p>
</span></span></span></li><li class='contentItem' style=''><span class='inner'><span class='contentBlock '><span class='bodylinks'></span><span class='shortdesc'><p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:100%;" width="339">
	<caption><strong>Age Data of Overall Deceased</strong></caption>
	<tbody>
		<tr>
			<td style="width:251px;height:28px;">&nbsp; Average Age</td>
			<td style="width: 88px; height: 28px; text-align: center;">75.3 years</td>
		</tr>
		<tr>
			<td style="width:251px;height:28px;">&nbsp; Median Age</td>
			<td style="width: 88px; height: 28px; text-align: center;">77 years</td>
		</tr>
		<tr>
			<td style="width:251px;height:28px;">&nbsp; Age Range</td>
			<td style="width: 88px; height: 28px; text-align: center;">5-107 years</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:100%;" width="561">
	<caption><strong>Overall Case Fatality Rate</strong></caption>
	<tbody>
		<tr height="21" style="height:15.75pt">
			<td class="xl66" height="21" style="height:15.75pt;width:172pt" width="229">&nbsp; Statewide Confirmed Cases</td>
			<td class="xl67" style="border-left: none; width: 249pt; text-align: center;" width="332">10%</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
</span></span></span></li><li class='contentItem' style=''><span class='inner'><span class='contentBlock '><span class='bodylinks'></span><span class='shortdesc'><table border="1" cellpadding="1" cellspacing="1" style="width:100%;">
	<caption><strong>Cases by Sex</strong></caption>
	<thead>
		<tr>
			<th scope="col" style="text-align: center;">Sex</th>
			<th scope="col" style="text-align: center;">Percentage of Overall Cases by Sex</th>
			<th scope="col" style="text-align: center;">Percentage of Deceased Cases by Sex</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align: center;">Male</td>
			<td style="text-align: center;">46%</td>
			<td style="text-align: center;">53%</td>
		</tr>
		<tr>
			<td style="text-align: center;">Female</td>
			<td style="text-align: center;">53%</td>
			<td style="text-align: center;">47%</td>
		</tr>
		<tr>
			<td style="text-align: center;">Unknown</td>
			<td style="text-align: center;">1%</td>
			<td style="text-align: center;">&lt;1%</td>
		</tr>
	</tbody>
</table>

<p style="text-align: center;"><em><strong style="text-align: center;">Totals may not add to 100% due to rounding</strong></em></p>

<p style="text-align: center;">&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:100%;">
	<caption><strong>Cases by Age</strong></caption>
	<thead>
		<tr>
			<th scope="col" style="text-align: center;">Age</th>
			<th scope="col" style="text-align: center;">Percentage of Overall Cases by Age</th>
			<th scope="col" style="text-align: center;">Percentage of Deceased Cases by Age</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align: center;">0 to 19</td>
			<td style="text-align: center;">3%</td>
			<td style="text-align: center;">&lt;1%</td>
		</tr>
		<tr>
			<td style="text-align: center;">20 to 29</td>
			<td style="text-align: center;">11%</td>
			<td style="text-align: center;">&lt;1%</td>
		</tr>
		<tr>
			<td style="text-align: center;">30 to 39</td>
			<td style="text-align: center;">13%</td>
			<td style="text-align: center;">1%</td>
		</tr>
		<tr>
			<td style="text-align: center;">40 to 49</td>
			<td style="text-align: center;">16%</td>
			<td style="text-align: center;">3%</td>
		</tr>
		<tr>
			<td style="text-align: center;">50 to 59</td>
			<td style="text-align: center;">18%</td>
			<td style="text-align: center;">8%</td>
		</tr>
		<tr>
			<td style="text-align: center;">60 to 69</td>
			<td style="text-align: center;">16%</td>
			<td style="text-align: center;">18%</td>
		</tr>
		<tr>
			<td style="text-align: center;">70 to 79</td>
			<td style="text-align: center;">11%</td>
			<td style="text-align: center;">27%</td>
		</tr>
		<tr>
			<td style="text-align: center;">80+</td>
			<td style="text-align: center;">11%</td>
			<td style="text-align: center;">42%</td>
		</tr>
		<tr>
			<td style="text-align: center;">Unknown</td>
			<td style="text-align: center;">&lt;1%</td>
			<td style="text-align: center;">0%</td>
		</tr>
	</tbody>
</table>

<p style="text-align: center;"><em><strong>Totals may not add to 100% due to rounding</strong></em></p>

<p style="text-align: center;">&nbsp;</p>
</span></span></span></li><li class='contentItem' style=''><span class='inner'><span class='contentBlock '><span class='bodylinks'></span><span class='shortdesc'><table border="1" cellpadding="1" cellspacing="1" style="width:100%;">
	<caption><strong>Cases by Race</strong></caption>
	<thead>
		<tr>
			<th scope="col" style="text-align: center;">Race</th>
			<th scope="col" style="text-align: center;">Percentage of Overall Cases by Race</th>
			<th scope="col" style="text-align: center;">Percentage of Deceased Cases by Race</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align: center;">American Indian or Alaska Native</td>
			<td style="text-align: center;">&lt;1%</td>
			<td style="text-align: center;">&lt;1%</td>
		</tr>
		<tr>
			<td style="text-align: center;">Asian/Pacific Islander</td>
			<td style="text-align: center;">2%</td>
			<td style="text-align: center;">1%</td>
		</tr>
		<tr>
			<td style="text-align: center;">Black or African American</td>
			<td style="text-align: center;">32%</td>
			<td style="text-align: center;">40%</td>
		</tr>
		<tr>
			<td style="text-align: center;">Caucasian</td>
			<td style="text-align: center;">36%</td>
			<td style="text-align: center;">50%</td>
		</tr>
		<tr>
			<td style="text-align: center;">Multiple Races</td>
			<td style="text-align: center;">8%</td>
			<td style="text-align: center;">2%</td>
		</tr>
		<tr>
			<td style="text-align: center;">Other</td>
			<td style="text-align: center;">5%</td>
			<td style="text-align: center;">2%</td>
		</tr>
		<tr>
			<td style="text-align: center;">Unknown</td>
			<td style="text-align: center;">17%</td>
			<td style="text-align: center;">5%</td>
		</tr>
	</tbody>
</table>

<p style="text-align: center;"><em><strong style="text-align: center;">Totals may not add to 100% due to rounding</strong></em></p>

<p style="text-align: center;">&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:100%;">
	<caption><strong>Cases by Hispanic/Latino Ethnicity</strong></caption>
	<thead>
		<tr>
			<th scope="col" style="text-align: center;">Hispanic/Latino Ethnicity</th>
			<th scope="col" style="text-align: center;">Percentage of Overall Cases by Ethnicity</th>
			<th scope="col" style="text-align: center;">Percentage of Deceased Cases by Ethnicity</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align: center;">Hispanic/Latino</td>
			<td style="text-align: center;">6%</td>
			<td style="text-align: center;">2%</td>
		</tr>
		<tr>
			<td style="text-align: center;">Non-Hispanic Latino</td>
			<td style="text-align: center;">63%</td>
			<td style="text-align: center;">80%</td>
		</tr>
		<tr>
			<td style="text-align: center;">Unknown</td>
			<td style="text-align: center;">31%</td>
			<td style="text-align: center;">18%</td>
		</tr>
	</tbody>
</table>

<p style="text-align: center;"><em><strong style="text-align: center;">Totals may not add to 100% due to rounding</strong></em></p>

<p style="text-align: center;">&nbsp;</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:100%;">
	<caption><strong>Cases by Arab Ethnicity</strong></caption>
	<thead>
		<tr>
			<th scope="col" style="text-align: center;">Arab Ethnicity</th>
			<th scope="col" style="text-align: center;">Percentage of Overall Cases by Ethnicity</th>
			<th scope="col" style="text-align: center;">Percentage of Deceased Cases by Ethnicity</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align: center;">Arab</td>
			<td style="text-align: center;">2%</td>
			<td style="text-align: center;">1%</td>
		</tr>
		<tr>
			<td style="text-align: center;">Non-Arab</td>
			<td style="text-align: center;">35%</td>
			<td style="text-align: center;">36%</td>
		</tr>
		<tr>
			<td style="text-align: center;">Unknown</td>
			<td style="text-align: center;">63%</td>
			<td style="text-align: center;">62%</td>
		</tr>
	</tbody>
</table>

<p style="text-align: center;"><em><strong>Totals may not add to 100% due to rounding</strong></em></p>
</span></span></span></li>
				</ul><!--/PAGEWATCH--><!-- /displayContent RD 001 --></div> <!-- END CDA Generic Content Display --><!-- /ID COMPONENT_115181 --></div></div><div class='row row-eq-height'><div class='row-eq-height col-sm-6 '><!-- ID COMPONENT_115341 --><!-- /ID COMPONENT_115341 --></div><div class='row-eq-height col-sm-6 '><!-- ID COMPONENT_115342 --><!-- /ID COMPONENT_115342 --></div></div><div class='row row-eq-height'><div class='row-eq-height col-sm-12 '><!-- ID COMPONENT_115863 -->
	<!-- BEGIN CDA Generic Content Display --><div id='comp_115863' class='comp list'  >
		<!-- displayContent RD 001 --><!--PAGEWATCH--><!-- open table RD -->  <ul class='contentList NONE '><li class='contentItem' style=''><span class='inner'><span class='contentBlock '><span class='bodylinks'></span><span class='shortdesc'><p><img alt="Michigan COVID-19 Confirmed Case Epi-Curve and Cumulative Cases" src="/images/coronavirus/2020-05-15_13-28-59_690827_7.jpg" style="width: 100%; height: 100%;" /></p>
</span></span></span></li>
				</ul><!--/PAGEWATCH--><!-- /displayContent RD 001 --></div> <!-- END CDA Generic Content Display --><!-- /ID COMPONENT_115863 --></div></div></div>
									</div><!-- END MAIN CONTENT AREA ROW --> <!-- Body End -->
	</div>
	
		  
		<!-- START RIGHT_NAV 98144__98144__98173 ~ 7-406-98144__98144__98173--- ~ 7-406-98144__98144__98173--- -->
		

<!-- State Of Michigan - Sun Apr 12 16:42:20 2020 -->

<!-- BEGIN RIGHTNAV HTML CODE  -->

<!-- Agency category --><!-- Begin Global Nav section RD --><!-- End Global Nav section RD --><!-- End My Interests/RightNav Links/Related Content/Right Links -->
<!-- Cache Debug Info

-->
 <!-- END RIGHT_NAV -->
		<!-- /div -->
		 </div><!-- /contentWrapper -->
	</div><!-- /bodyWrapper -->
<!-- BOTTOMNAV -->
<!-- BEGIN FOOTER RD -->
<div id="footerArea" role="contentinfo" style="clear: both">

	<!-- begin expanded footer --><div id='expandedFooter'><div id='cat_98152' class='footer_1'><h2>brandarea</h2><ul><li><a href='/som'><img src="/images/som/somFooterLogoBOW2015_491229_7.png" alt="Michigan.gov"></a></li></ul></div><div id='agencylinks' class='footer_1'><ul></ul></div><div id='policylinks' class='footer_1'><ul><li><a href='/'>Michigan.gov Home</a></li><li><a href='/adaform'>ADA</a></li><li><a href='/minewswire'>Michigan News</a></li><li><a href='/coronavirus/0,9753,7-406--281460--,00.html'>Policies</a></li></ul></div><span class='disclaimer'><!-- This is the button text to be pasted into the content item because our WISIWYG destroys it and the classes and styles are different after it is loaded, so you can't grab it from the developer tools -->
<button type="button" class="chatLauncher" style="display: none;">
  <div>
    <img src="/coronavirus/ChatBotRobin.png" alt="Robin COVID Questions Chatbot">
    <span class="wacFullButtonText">
      <strong>Have questions?</strong>
      <div>Chat with Robin</div>
    </span>
  </div>
</button></span></div><br><span class='copyright'><br>Copyright 2020 State of Michigan</span><!-- end expanded footer --><script type="text/javascript">
if (typeof jQuery == 'undefined') {
    document.querySelector('body').classList.remove('matching-heights-processing');
	document.getElementById("noAdBlock").style.display = "block";
}
</script>

</div>
<!--END DIV CONTAINER-->
</div>

<!-- Mega Menu Block -->
<div id="megaMenuBlock">
	<div id="megaMenuSubLinksBlock_container">
		<div class="container">
			<div class="col-xs-3">
				<div id="megaMenuLogoBlock" >
					<a href='/coronavirus'>
						<img src="/images/som/final_logo_migov_white_526452_7.png" class="img-responsive logo" alt="Description: Coronavirus " />
					</a>
				</div>
			</div>
			<div class="col-xs-9">
				<div id="megaMenuSubLinksBlockBreadCrumb"></div>
				<div id="megaMenuSubLinksBlock"></div>
			</div>
		</div>
	</div>
	<div id="megaMenuSearchBlock"></div>
</div>
<style type="text/css">

</style>
<!-- stmiws101.prdcloud.fms.ibmcloud.com rjp NT -->
</body>
</html>